<div class="container">

  <h1 class="text-center my-5"> THE JOKE OF CHUCKS:</h1>

  <button (click)="getJokesApi() " class="btn btn-primary"> Show jokes</button>

  <button (click)="hideJokes() " class="btn btn-success mx-4"> Hide jokes</button>



  <div class="btn-group">
    <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" (click)="getCategories()" >
      Action
    </button>
    <ul class="dropdown-menu">
      <li *ngFor="let category of categories" (click)="getJokeByCategory(category)"><a class="dropdown-item" href="#">{{category}}</a></li>
    </ul>
  </div>


  <div class="row">


    <div *ngFor="let chuck of showAllJokes" class="col-md-4" >

      <div class="card" style="width: 18rem;">

        <img src="{{chuck.icon_url}}" class="card-img-top" alt="..." style ="width: 50%">

        <div class="card-body">
          <h5 class="card-title">JOKE:</h5>
          <p class="card-text">{{chuck.value}}</p>
          <p class="card-text">Created at: {{chuck.created_at | date}}</p>
          <a href="#" class="btn btn-danger" (click)="deleteJoke(chuck)">Delete</a>

        </div>

      </div>

    </div>

  </div>




</div>
